@inherits LayoutComponentBase

<MatToastContainer />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span>Gemaakt door Schelkens Joren 2020 &#169;</span>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
